.portfolio-navbar{
    font-size: xx-large;
    backdrop-filter: blur(10px);
    position:fixed;
    z-index: 1000;
}

.portfolio-navbar-brand{
    color: #FFA926;
    font-weight: bold;
    font-family: "Aldrich";
    font-size: x-large;
}

.portfolio-navbar-button{
    background-color: white;
    color: #FFA926;
    border: 1px solid #FFA926;
    border-radius: 5px;
    padding: 5px 10px;
}

.portfolio-navbar-link{
    color: rgb(71, 71, 71);
    font-weight: bold;
    font-family: "Roboto";
    font-size: xx-large;
    font-variant-caps: all-petite-caps;
    margin-right: 25px;
}

.language-dropdown{
    background-color: #FFA926;
    border-color: #FFA926;
}

.language-dropdown:hover{
    background-color: #a0773a;
    border-color: #a0773a;
}

.language-dropdown:focus{
    background-color: #a0773a;
    border-color: #a0773a;
}

.language-switch {
    margin-left: 20px;
    font-size: x-large;
    font-weight: bold;
}

.language-switch .form-check-input {
    width: 3em;
    height: 1.5em;
    margin-top: 0.3em;
    background-color: #FFA926;
    border-color: #FFA926;
}

.language-switch .form-check-input:checked {
    background-color: #FFA926;
    border-color: #FFA926;
}

.language-switch .form-check-label {
    margin-left: 10px;
    color: rgb(71, 71, 71);
    font-family: "Roboto";
    font-variant-caps: all-petite-caps;
}
