.view-detail-button{
    margin-top: 1vh;
    background-color: #FFA926;
    color: white;
    border-color: #FFA926;
}

.view-detail-button:hover{
    background-color: white;
    color: #FFA926;
}

